<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
  <a href="/">Home </a> |
  <a href="/insert">Insert </a> |
  <a href="/display">Display </a> |
  <a href="/contact">Contact</a> |
    <h1> Insert Employee Records</h1>

    <form method="post" action="/datasave">
      Enter Empno : <input type="text" name="eno">
      <br>
      Enter Name : <input type="text" name="nm">
      <br>
      Enter City : <input type="text" name="ct">
      <br>
      Enter Salary : <input type="text" name="sal">
      <br>
       <button>Submit</button>
    </form>

</body>
</html>